# Data Science Tools and Ecosystem

#### In this notebook, Data Science Tools and Ecosystem are summarixed

**Objectives**
- List popular languages for data science
- List common libraries for data science
- List some data science tools

##### Some of the popular languages that Data Scientists use are:
1. Python
2. R
3. Scala

##### Some of the commonly used libraries used by Data Scientists include:
1. Pandas
2. Numbpy
3. SciPy

|Data Science Tools|
|--------|
|Anaconda|
|Apache Hadoop|
|Apache Spark|

### Below are  few examples of evaluating arithmetic expressions in Python

In [2]:
## This a simple arithmetic expression to multiply then add integers
(3*4)+5

17

In [6]:
## Ths will convert 200 minutes to hours by diving by 60
a = 200/60
print('200 minutes are',a, 'hours')

200 minutes are 3.3333333333333335 hours

## Author 
Jaider Espa√±a Paternina